html{
  background: linear-gradient(to bottom right, #f0fdf4, #e9f5e9);
}

.bds-container {
  font-family: 'Arial', sans-serif;
  color: #333;
  padding-bottom: 10vh;
}

.bds-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.bds-header h1 {
  font-size: 2.5rem;
  color: #2c5f2d;
  margin-bottom: 10vh;
  margin-top: 5vh;
  text-align: center;
  font-weight: bold;
}

.bds-header p {
  font-size: 1.1rem;
  color: #4b634f;
  text-align: center;
  max-width: 800px;
  margin: 10vh auto;
}

.bds-blocks {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bds-block {
  background-color: #e6f0e6;
  border-left: 5px solid #2c5f2d;
  padding: 1.5rem;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin: 0 10vw;
}

.bds-block:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(44,95,45,0.2);
}

.bds-block h2 {
  font-size: 1.6rem;
  color: #2c5f2d;
  margin-bottom: 0.5rem;
}

.bds-block p {
  font-size: 1rem;
  color: #3e5f3e;
  margin-bottom: 1rem;
  flex-grow: 1;
}

.bds-download-btn {
  text-decoration: none;
  background-color: #2c5f2d;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.2s ease;
}

.bds-download-btn:hover {
  background-color: #1f4520;
}

@media (max-width: 900px){

    .bds-block {
        margin: 0 2vw;
    }
}
