.buyers-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 8vh;
  padding-left: 8vh;
  padding-right: 10vh;
  gap: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  padding-bottom: 20vh;
}

.buyers-left {
  flex: 0 0 65%;
  padding-left: 2vw;
}

.buyers-title {
  font-size: 2rem;
  font-weight: bold;
  color: #2e7d32;
  margin-bottom: 10vh;
}

.buyers-desc {
  font-size: 1rem;
  color: #3d3d3d;
  margin-bottom: 30px;
}

.buyers-card {
  background: #fdfdfd;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #d9e6da;
  box-shadow: 0px 4px 10px rgba(46, 125, 50, 0.1);
  text-align: left;
  width: 100%;
  max-width: 420px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.buyers-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 14px rgba(46, 125, 50, 0.2);
}

.buyers-card-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #2e7d32;
}

.buyers-card-text {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 20px;
}

.download-btn {
  display: inline-block;
  background: #2e7d32;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.2s ease;
}

.download-btn:hover {
  background: #256428;
  transform: scale(1.05);
}

/* Right Images */
.buyers-right {
  flex: 0 0 30%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.buyers-right img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


@media (max-width: 900px) {
  .buyers-main {
    flex-direction: column;
    padding: 5vh;
    margin-bottom: 5vh;

  }

  .buyers-card{
    margin: 0 auto;
  }

  .buyers-left, .buyers-right {
    flex: 1 1 100%;
    text-align: center;
  }

  .buyers-right {
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .buyers-right img {
    height: 150px;
  }
}
